.header {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.header-left h1 {
  font-size: 20px;
}

.header-right {
  display: flex;
  gap: 10px;
  align-items: center;
}

.nickname {
  font-size: 1rem;
  color: white;
}

.login-button {
  width: 120px;
  height: 44px;
  background-color: white;
  padding: 8px 16px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.95rem;
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;
}

.login-button .fa-solid,
.login-button .button-text {
    color: black; 
}

.logout-button{
  width: 134px;
  height: 44px;
  background-color: #FFA4A4;
  color: black;
  padding: 8px 16px;
  font-size: 1rem;
  border-radius: 8px;
}

.logout-button .fa-solid,
.logout-button .button-text {
    color: black;
}